/.nyc_output
/bundles/nano.dev.min.js
/bundles/nano.instrumented.min.js
/bundles/nano.instrumented.min.js.map
/coverage
/debug.log
/dev/dev.js
/lib
/node_modules
/package-lock.json
/test/**/*.js
/scripts/browserTest/tester.js
/scripts/tinyServer/*.d.ts
/scripts/tinyServer/*.js
/scripts/tinyServer/*.map