/.nyc_output
/bundles/nano.dev.min.js
/bundles/nano.instrumented.min.js
/bundles/nano.instrumented.min.js.map
/coverage
/debug.log
/dev/dev.js
/esm
/lib
/node_modules
/test/**/*.js
/test.jsx-runtime/**/*.js
/scripts/browserTest/tester.js
/deno.lock